# Zdieľaná Elektrina - Global Environment Example

# --- GENERAL ---
# options: development, test, production
NODE_ENV=development

# --- DATABASE ---
# PostgreSQL instance setup
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/zdielana_energia?schema=public"

# --- BACKEND (apps/api) ---
# Port for the NestJS API
PORT=3001
# Auth
JWT_SECRET="super-secret-local-key"
FRONTEND_URL="http://localhost:3000"

# --- FRONTEND (apps/web) ---
NEXT_PUBLIC_API_URL="http://localhost:3001"
